<div class="nav">
  <input id="search" type="text" />
  <button onclick="search()">Search</button>
</div>

<div class="container">
  <div class="row gap-2 justify-flex-end">
    {{#each articles}}
      <div class="col-3-xs col-3-sm col-4-xl">
        <div class="card">
          <h3 class="card-title">{{this.title}}</h3>
          <img
            class="newsImage"
            src="{{this.urlToImage}}"
            alt="{{this.title}}"
          />
          <p>{{this.description}}</p>
          <a href="{{this.url}}" target="_blank">See more</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>