<div class="nav">
  <input id="search" type="text" />
  <button onclick="search()">Search</button>
</div>

<div class="container">
  {{#each articles}}
    <div class="card col-4-xs col-4-sm col-6-xl">
      <h3 class="card-title">{{this.title}}</h3>
      <img class="newsImage" src="{{this.urlToImage}}" alt="{{this.title}}" />
      <p>{{this.description}}</p>
      <a href="{{this.url}}" target="_blank">See more</a>
    </div>
  {{/each}}
</div>